body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a{
    display: inline-block;
    margin-top: 0.5rem;
    color: #007BFF;
    text-decoration: none;
}